<div class="container mt-4">
    <a href="/admin/categorias"><button class="btn btn-success"> Add Categoria</button></a>
    <a href="/admin/postagens"><button class="btn btn-success">Add livro</button></a>
</div>