<main>
  <a href="#">
    <h2 class="section-heading">Admin</h2>
  </a>
  <section>
    <div class="card">

      <div class="card-description">
        <a href="/admin/categorias" class="btn-readmore">
          Add Categoria
        </a>
        <a href="/admin/postagens" class="btn-readmore"> Add Post </a>
      </div>
    </div>
  </section>
</main>