<nav class="white " role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><!--<img class="img-logo" src="/imagem/Camuenho.png"/>-->Camuenho</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li> 
        <li><a href="/categorias">Categorias</a></li>
        
        {{#if user}}
          
          <li><a href="/usuarios/logout">Sair</a></li>
          <li><a href="/admin">Olá, {{user.nome}} </a></li>
        {{else}}
          <li><a href="/usuarios/login">Login</a></li>
          <li><a href="/usuarios/registro">Registro</a></li>

        {{/if}}
      </ul>
        
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/categorias">Categorias</a></li>
        {{#if user}}
            <li><a href="/usuarios/logout">Sair</a></li>
        {{else}}
          <li><a href="/usuarios/login">Login</a></li>
          <li><a href="/usuarios/registro">Registro</a></li>
        {{/if}}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="icon icon-bars"></i></a>
    </div>
</nav>