<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/imagem/logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/imagem/logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/imagem/logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/imagem/logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/imagem/logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/imagem/logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/imagem/logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/imagem/logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/imagem/logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/imagem/logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/imagem/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/imagem/logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagem/logo/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/imagem/logo/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>MWC Media</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
    <!--Css  -->
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    {{>_navbar}}


    {{# if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}
    {{{body}}}

    {{>_footer}}
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>
</html>