<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App NodeJs</title>
    <!--Css materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    {{>_navbar}}


    {{# if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}
    {{{body}}}

    {{>_footer}}
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</html>