<div class="col s12 m8 container">
    <h5 class="center">Faça seu Login</h5>
    <div class="card">

        <div class="card-body">
            <form action="/usuarios/login" method="POST">
                <input type="email" name="email" placeholder="E-mail" required class="form-control">
                <input type="password" name="senha" placeholder="Senha" class="form-control">
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>

    </div>
</div>