<div class="col s12 m8 container">
    {{#each erros}}
    <div class="alert alert-danger form-control mt-2">{{texto}}</div>
    {{else}}
    {{/each}}
  
    <div  class="main-container">

        <div class="main-wrapper">
            <h2>Criar uma conta</h2>
            <form class="signup-form" action="/usuarios/registro" method="POST">
                <input type="text" name="nome" placeholder="Nome completo" required class="form-control">
                <input type="email" name="email" placeholder="E-mail" required class="form-control">
                <input type="password" name="senha" placeholder="Senha" required class="form-control">
                <input type="password" name="senha2" placeholder="Repita a senha" required class="form-control">
                <button type="submit" class="btn btn-success">Criar Conta</button>
             
            </form>
        </div>
    </div>
</div>