<main>
  <h2 class="page-heading">Categorias</h2>

  <section>
    {{#each categorias}}

      <div class="card">
        <div class="card-image">
          <a href="/categorias/{{slug}}">
            <img src="img/6.jpg" alt="Card Image" />
          </a>
        </div>

        <div class="card-description">
          <a href="/categorias/{{slug}}">
            <h3>{{nome}}</h3>
          </a>
        </div>
      </div>
    {{else}}
    {{/each}}

  </section>

</main>